{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}"

{% block title %}Homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <h1 class="login-title">Welcome to Test-Case Dashboard</h1>

    <div class="login-messages">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>

    <script>   
        setTimeout(() => {
            const messageList = document.querySelector('.login-messages');
            if (messageList) {
                messageList.remove();
            }
        }, 2000); 
    </script>

    <form method="POST">
        {% csrf_token %}
        <label class="login-label">Username:</label>
        <input class="login-input" type="text" name="username" required>

        <label class="login-label">Password:</label>
        <input class="login-input" type="password" name="password" required>

        <button class="login-button" type="submit">Login</button>
    </form>

    <div class="login-actions">
        <a href="{% url 'register' %}"><button type="button">Create Account</button></a>
        <a href="{% url 'password_reset' %}"><button type="button">Forgot Password?</button></a> 
    </div>
</div>

    {% endblock %}
